.spoiler{
    height: 0;
    transform: translate(0,-50%)scaleY(0);
    transition: 0.3s;
    width: 100%;
    margin-bottom: 13px;
}
.spoiler__link{
    min-width: 110px;
    font-size: 15px;
    font-weight: bold;
    color: #1ea69a;
    position: absolute;
    right: 0;
    top: 10px;
}
.spoiler__links{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.spoiler__block{
    display: flex;
    gap: 40px;
    margin-bottom: 20px;
    align-items: center;
}
.spoiler__title p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}
.spoiler__tag{
    display: inline-block;
    background-color: #efefef;
    border-color: #efefef;
    color: #282828;
    font-size: 15px;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 2px;

}
.spoiler__tag:last-of-type{
    margin-right: 0;
}
.spoiler__tag:hover{
    background-color: #1ea69a;
    border-color: #1ea69a;
    color: #fff;
}
.fadeIn{
   transform: translate(0,0);
}
.fadeOut{
    transform: translate(0,-50%)scaleY(0);
}
@keyframes fadeIn {
    to{
        scale: 1;
        opacity: 1;
    }
}


.slider{
    display: flex;
    align-items: center;
    position: relative;
    padding-right: 185px;
    padding-left: 50px;
    flex-direction: column;
    overflow: hidden;
    margin-bottom: 14px;
    height: 33px;
}
.slider__wrapper{
    max-width: 100%;
}
 /** Swiper styles **/

 :root {
    --swiper-navigation-color: rgba(30, 166, 154, 1);
  }

  .swiper {
    user-select: none;
    box-sizing: border-box;
    overflow: hidden;
    width: 100%;
    height: auto;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content !important;
    height: 100%;
    color: #fff;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    background-color: #efefef;
    border-radius: 0px;
  }

  .swiper-slide-content {
    width: fit-content;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 32px;
  }

  .swiper-slide-title {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.03em;
    color: rgba(56, 48, 48, 1);
    padding: 8px 12px;
    text-decoration: none;
    outline: none;
  }
  .swiper-button-next, .swiper-rtl .swiper-button-prev {
    right: var(--swiper-navigation-sides-offset,145px) !important;
}
